@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Our disc golf library</h1>
    <img src="~/media/disc-catcher.png" style="width: 150px" />
</div>
<div style="display: flex; justify-content: center; align-items: center">
    <div class="card w-50">
        <div class="card-header">
            Quote
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Finally an app that keeps track of all your favorite discs.</p>
                <footer class="blockquote-footer">physicist <cite title="Source Title">Albert Einstein</cite></footer>
            </blockquote>
        </div>
    </div>
</div>
